fastapi
uvicorn
python-multipart
pydantic
pydantic-settings
python-dotenv
langchain
langchain-cohere
langchain-community
langchain-chroma
langchain-text-splitters
chromadb
pdfminer.six
rank-bm25
python-json-logger
pytest
pytest-mock
prometheus-fastapi-instrumentator
llama-cloud-services
llama-index-core
qdrant-client
langchain-qdrant
llama-parse==0.5.14